/*背景色関係*/
body{
	background-color:#ffffd5;	/*背景色*/
	padding-left:30px;
	padding-right:30px;
	margin-left:auto;	/*余白左*/
  	margin-right:auto;	/*余白右*/
	width:auto;
	font-size:25px;
	font-weight:normal;
}

h1{
	padding-left:10px;
	font-weight:normal;
	font-size:35px;
	
}
/*タイトル文字関係*/
h2{
	color:black;	
	font-size:60px;
	font-weight:normal;
	padding-left:1em;
}

sub_title{
	background-color: #80edec;
	border: 1px solid #ccc;
 	box-shadow: 1px 1px 2px #ccc;
	font-size:35px;
}

table{
 	background-color : #fcf4ec;
}

span{
	padding-left:1em;
}